{% macro pagination(route, current, nbPages, chunk) %}
{% spaceless %}
{% if nbPages > 1 %}
<ul class="pagination">
    <li{% if current == 1 %} class="disabled"{% endif %}>
        {% if current == 1 %}
            <span>&laquo;</span>
        {% else %}
            <a href="{{ path(route, {'page': current - 1}) }}">&laquo;</a>
        {% endif %}
    </li>
    {% set chunk = chunk|default(5) %}
    {% set page_range = range(max(1, (current - chunk)), min(nbPages, (current + chunk))) %}
    {% for page in page_range %}
        <li{% if page == current %} class="active"{% endif %}>
            <a href="{{ path(route, {'page': page}) }}">{{ page }}</a>
        </li>
    {% endfor %}
    <li{% if current == nbPages %} class="disabled"{% endif %}>
        {% if current == nbPages %}
            <span>&raquo;</span>
        {% else %}
            <a href="{{ path(route, {'page': current + 1}) }}">&raquo;</a>
        {% endif %}
    </li>
</ul>
{% endif %}
{% endspaceless %}
{% endmacro %}