{% extends "layout.html.twig" %}

{% block title %}{{ 'Homepage'|trans }} | {{ parent() }}{% endblock %}

{% block content %}
    Welcome to your new Keratine Application! - <a href="{{ path('dashboard') }}">Access to the admin interface</a>
{% endblock %}